$theme-palette: (
  'primary': #f6a623 #d68a0c #f5c677 #fee2b4 #fceed6,
  'colors': #cfdfe8 #bfb9c3 #cf9192 #ff6351 #bf413c #7f3128 #732c24,
) !default;

$theme: (
  palette: (
    primary: #f6a623 #d68a0c #f5c677 #fee2b4 #fceed6,
    secondary: #c2185b #e91e63 #f06292 #f8bbd0,
    danger: #d32f2f #f44336 #ef828e #ffcdd2,
    alert: #ffa000 #ffc107 #ffd761 #ffecb3,
    success: #388e3c #4caf50 #7cc47f #c8e6c9,
    white: #fff #eee,
    grayscale: #212121 #414141 #616161 #9b9b9b #bdbdbd #e0e0e0 #eeeeee #ffffff,
  ),
  
  fonts: (
    primary: 'Helvetica Neue, Helvetica, Roboto, sans-serif',
    pre: 'Consolas, Liberation Mono, Menlo, Courier, monospace',
    quote: 'Georgia, serif'
   ),

  sizes: (
    maxWidth: '1100px',
  )
) !default;

$palette-diff: palette-diff($theme-palette);

/**
 * Yields a list of 7 maps (diffs)

(
  (adjust-hue: 195.3931deg, desaturate: 64.78873%, lighten: 20.19608%),
  (adjust-hue: 269.7931deg, desaturate: 92.30769%, lighten: 8.62745%),
  (adjust-hue: 352.82536deg, desaturate: 60.75949%, lighten: 3.13725%),
  (adjust-hue: 0deg, saturate: 0%, lighten: 0%),
  (adjust-hue: 0.20532deg, desaturate: 47.80876%, darken: 16.66667%),
  (adjust-hue: 0deg, desaturate: 47.90419%, darken: 33.13725%),
  (adjust-hue: -0.13095deg, desaturate: 47.68212%, darken: 36.27451%)
)

 */

@function color-diff($a, $b) {
  $sat: saturation($a) - saturation($b);
  $lig: lightness($a) - lightness($b);
  $fn-sat: if($sat > 0, 'desaturate', 'saturate');
  $fn-lig: if($lig > 0, 'darken', 'lighten');

  @return (
    adjust-hue: -(hue($a) - hue($b)),
    #{$fn-sat}: abs($sat),
    #{$fn-lig}: abs($lig)
  );
}

@function palette-diff($palette) {
  $primary: map-get($palette, 'theme');
  $colors: map-get($palette, 'colors');
  $diffs: ();

  @each $color in $colors {
    $diffs: append($diffs, color-diff($primary, $color));
  }

  @return $diffs;
}

@function apply-diff($color, $diff) {
  @each $function, $value in $diff {
    $color: call($function, $color, $value);
  }

  @return $color;
}

@function create-palette($primary-color) {
  $palette: ();

  @each $diff in $palette-diff {
    $palette: append($palette, apply-diff($primary-color, $diff));
  }

  @return $palette;
}

@function palette($base-color) {
  $colors: create-palette($primary-color);
  $keys: 'lightest' 'lighter' 'light' 'base' 'dark' 'darker' 'darkest';
  $palette: ();

  @for $i from 1 through min(length($colors), length($keys)) {
    $palette: map-merge($palette, (nth($keys, $i): nth($colors, $i)));
  }

  @return $palette;
}

$green-palette: palette(lightgreen);
/**
 * Yields

(
  lightest: #f4f1f3, 
  lighter: #d5d5d5, 
  light: #c2cec0, 
  base: lightgreen, 
  dark: #79b079, 
  darker: #4f864f, 
  darkest: #497c49
)

 */
